button {
   display: block; 
   background-color: #fff;
}

.need-website button {
    width: 13em;
    height: 3em;
    border: 2px solid black;
    border-radius: 0.5em;
}

form button {
    width: 7em;
    height: 2em;
    border: 1px solid black;
}