body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    min-height: 100vh;
    margin: 1em auto;
}

body>header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

}

.wrapper,
body>header,
footer {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1056%26quot%3b)' fill='none'%3e%3cpath d='M648.9112758285247 198.3476115204532L525.3349512666379 305.7708715701751 632.7582113163597 429.3471961320619 756.3345358782466 321.92393608234005z' fill='rgba(109%2c 108%2c 108%2c 0.03)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M320.30267348312634 326.85441903694334L223.4198448482898 337.0372146509834 233.60264046232987 433.92004328581993 330.4854690971664 423.73724767177987z' fill='rgba(109%2c 108%2c 108%2c 0.03)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M255.1239930501582 295.13487958526343L209.45667624980774 162.507361379418 76.82915804396234 208.17467817976842 122.49647484431276 340.80219638561385z' fill='rgba(109%2c 108%2c 108%2c 0.03)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1407.6937335319142 198.4394122497814L1451.1004522099322 79.18043282930759 1331.8414727894583 35.77371415128954 1288.4347541114403 155.03269357176336z' fill='rgba(109%2c 108%2c 108%2c 0.03)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1088.0874496485403 450.4056061957128L1070.3749679476987 550.8580816460073 1170.8274433979932 568.570563346849 1188.5399250988348 468.1180878965544z' fill='rgba(109%2c 108%2c 108%2c 0.03)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M745.0071391028198 30.607863368703256L689.5432917447722 175.09612560699927 834.0315539830682 230.55997296504688 889.4954013411158 86.07171072675087z' fill='rgba(109%2c 108%2c 108%2c 0.03)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M275.74376514376 141.7556110438139L128.69441056563903 93.97637942304593 80.91517894487106 241.0257340011669 227.96453352299204 288.8049656219349z' fill='rgba(109%2c 108%2c 108%2c 0.03)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1130.9128158300894 223.391958563655L1230.95588223246 265.8577207878465 1273.4216444566514 165.8146543854759 1173.378578054281 123.3488921612844z' fill='rgba(109%2c 108%2c 108%2c 0.03)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1326.8460502774287 24.457519557736077L1253.287042656726-35.109390311178736 1193.7201327878113 38.449617309523894 1267.279140408514 98.01652717843871z' fill='rgba(109%2c 108%2c 108%2c 0.03)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M660.5766554805058 153.32390770527547L623.4032806179391 236.81667465672686 706.8960475693905 273.99004951929356 744.0694224319572 190.49728256784215z' fill='rgba(109%2c 108%2c 108%2c 0.03)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1079.0392952066934 448.61109146906716L1084.6647453092803 287.519277500983 923.5729313411962 281.89382739839596 917.9474812386092 442.9856413664802z' fill='rgba(109%2c 108%2c 108%2c 0.03)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1354.7915704180366 364.9192021361939L1221.7537562883076 415.9876342803234 1272.822188432437 549.0254484100524 1405.860002562166 497.957016265923z' fill='rgba(109%2c 108%2c 108%2c 0.03)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1056'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.wrapper.bottom {
    background: repeating-linear-gradient(-55deg,
            #fff,
            #fff 10px,
            rgba(109, 108, 108, 0.03) 10px,
            rgba(109, 108, 108, 0.03) 20px);
}

ul {
    list-style: none;
}

nav ul {
    display: flex;
    gap: 1em;
}

a {
    text-decoration: none;
    color: black;
}

.need-website {
    display: flex;
    align-items: center;
    gap: 5em;
    width: 60%;
}

.need-website header {
    width: 70%;
}

.need-website svg {
    display: block;
    flex-shrink: 0;
    height: 12em;
}

.team,
.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
    width: 60%;
}

.team header,
.testimonials header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
}

.employee,
.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 25em;
}

.testimonial p:nth-child(2) {
    margin-top: 1em;
}

.testimonial p:nth-child(4) {
    color: rgb(109, 108, 108);
}

.employee-name {
    font-weight: bold;
    margin-top: 1em;
}

.media {
    border-radius: 50%;
    overflow: hidden;
    width: 15em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.25);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

hr {
    border: 2px solid black;
}

.team hr,
.testimonials hr {
    width: 5em;
}

.newsletter hr {
    width: 6em;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkmagenta;
    color: #fff;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 3em;
    background-image: radial-gradient(rgba(255, 255, 255, 0.26) 1px, transparent 0);
    background-size: 40px 40px;
}

form {
    display: flex;
    justify-content: center;
    width: 25em;
    gap: 1em;
    margin-top: 2em;
}

input {
    flex-grow: 1;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
    width: 100%;
}

footer header {
    flex-basis: 30%;
    padding: 4em;
}

.sitemap ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1em;
    grid-template-areas:
        "Home AboutUs"
        "Sevices Blog"
        "Contacts TermsAndConditions"
        "PrivacyPolicy .";
}

.sitemap li:nth-child(1) {
    grid-area: Home;
}

.sitemap li:nth-child(3) {
    grid-area: Contacts;
}

.sitemap li:nth-child(4) {
    grid-area: PrivacyPolicy;
}

.sitemap li:nth-child(5) {
    grid-area: AboutUs;
}

.sitemap li:nth-child(6) {
    grid-area: Blog;
}

.sitemap li:nth-child(7) {
    grid-area: TermsAndConditions;
}

@media (max-width: 500px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 500px) and (max-width: 600px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 800px) and (max-width: 1300px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1300px) and (max-width: 1800px) {
    html {
        font-size: 21px;
    }
}

@media (min-width: 1800px) {
    html {
        font-size: 23px;
    }
}