@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --white-space: 1.1em;
}

html {
    font: 16px/1.5 Lato, sans-serif;
}

body,
input,
button {
    font: inherit;
}

p,
ul {
    padding-bottom: var(--white-space, 1.5em);
}

header div p {
    text-transform: uppercase;
    color: rgb(109, 108, 108);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, serif;
    font-weight: bold;
    line-height: 1.1;
    margin: calc(0.6 * var(--white-space, 1.5em)) 0 var(--white-space, 1.5em);
}

h1 {
    color: purple;
    margin: 0;
    font-size: 3em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}