svg {
    width: 3em;
    height: 1.5em;
    fill: #fff;
}

.site-header {
    display: flex;
    justify-content: space-around;
}

.branding, .cart {
    color: #fff;
    font-size: 1.2em;
    padding: 1em;
    display: flex;
    cursor: pointer;
}