html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    margin: 2em auto;
}

.container,
section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container {
    text-align: center;
    max-width: 65vw;
}

span {
    border: 1px solid black;
    flex-grow: 1;
    padding: 2rem;
    width: 10rem;
}

.notes {
    flex-direction: column;
}

.week span:first-child, .week span:nth-child(7) {
    flex-basis: 100%;
}